/* colors */
:root {
  --main-h-color: #212121;
  --main-p-color: #757575;
  --bg-main-color: #ffffff;
  --bg-second-color: #2f303a;
  --bg-light-color: #f5f4fa;
  --active-color: #2196f3;
  --footer-color: rgba(255, 255, 255, 0.6);
}

/* main style */
/* body {
  background-color: var(--bg-main-color);
  color: var(--main-p-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 80px;
} */

/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main-h-color);
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* .button {
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 0;
  cursor: pointer;
} */

/* .flex {
  display: flex;
  align-items: center;
} */
/* text-decoration */
/* .link {
  text-decoration: none;
} */
/* .list {
  list-style: none;
  padding: 0;
  margin: 0;
} */

/* main style container */
/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
} */

/* section */
.in-section {
  padding-bottom: 94px;
}
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* header style */
/* Logo head */

/* .header {
  position: fixed;
  min-height: 80px;
  width: auto;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffffff;
  
} */

/* .header-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 91px;
  padding-top: 24px;
  padding-bottom: 25px;
} */

/* Logo blue */
/* .logo-blue {
  color: #2196f3;
} */

/* .header {
  padding-top: 24px;
  padding-bottom: 25px;
} */

/* .menu-nav .link {
  color: var(--main-h-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav .link:hover,
.menu-nav .link:focus {
  color: var(--active-color);
}

.menu-nav .link.current {
  color: var(--active-color);
  position: relative;
}

.menu-nav .link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  bottom: -6.5px;
  left: 0;
}

.menu-nav li:not(:first-child) {
  margin-left: 50px;
} */

/* menu-nav контакты */

/* .contacts-nav .link {
  color: var(--main-p-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: #2196f3;
}
.contacts-nav {
  margin-left: auto;
}
.contacts-nav li:not(:first-child) {
  margin-left: 50px;
}

.contacts-icon {
  width: 16px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .link:hover .contacts-icon,
.contacts-nav .link:focus .contacts-icon {
  fill: var(--active-color);
} */

/* footer style */
/* logo footer */
/* .footer-logo {
  color: var(--bg-main-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 20px;
} */

/* .footer {
  background-color: var(--bg-second-color);
  padding-top: 60px;
  padding-bottom: 60px;
} */

/* .footer-contact {
  margin-right: 70px;
} */

/* .footer .footer-list:not(:first-child) {
  margin-top: 9px;
} */

/* .footer .adress {
  color: var(--bg-main-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .contact {
  color: var(--footer-color);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress:hover,
.adress:focus,
.contact:hover,
.contact:focus {
  color: var(--active-color);
} */

/* .footer .container {
  display: flex;
} */

/* .join-tittle {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: inline-block;
  /* margin: 0; */
  /* margin-bottom: 20px;
} */ */

/* .join .list {
  justify-content: center;
  display: flex;
}

.join .list :not(:last-child) {
  margin-right: 10px;
} */

/* .join .button {
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .join .button:hover,
.join .button:focus {
  background-color: #2196f3;
} */

/* submit footer */
/* .submit {
  margin-left: 93px;
} */

/* .submit p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
} */

/* .submit-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(33, 150, 243, 0);

  color: #ffffff;
}

.submit-input {
  padding-left: 16px;
  margin-right: 12px;
} */

/* .submit .sub-button {
  position: relative;

  width: 200px;
  height: 50px;
  padding: 10px 62px 10px 28px;

  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;

  margin-top: 0px;
  padding-right: 63px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .sub-button:hover,
.sub-button:focus {
  background-color: #2196f3;
} */

/* .send-btn {
  position: absolute;
  text-align: center;
  align-items: center;
  fill: #ffffff;

  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;

  width: 24px;
  height: 24px;
} */
