/* Index html */
/* hero */
/* .hero {
  background-color: #c4c4c4;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../Images/header-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  text-align: center;
  align-items: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
} */

/* .hero h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
} */

/* button */
/* .hero .button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;

  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: var(--active-color);
  color: var(--bg-main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  text-align: center;
  min-width: 216px;
} */

/* modal-window */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(197, 40, 40, 0.753);
  opacity: 1;
  z-index: 99;
  transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
} */

/* .modal {
  position: relative;
  width: 528px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .close-button {
  position: absolute;

  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-x {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-x,
.close-button:focus .close-x {
  fill: #2196f3;
} */

/* .backdrop .modal-text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 2px;
} */

/* .label-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
} */

/* .input-position {
  position: relative;
  
} */

/* .input-box {
  width: 448px;
  height: 48px;
  padding-left: 42.5px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box:focus + .field {
  fill: #2196f3;
}

.input-box:focus {
  border-color: #2196f3;
}

.input-position .field {
  position: absolute;
  width: 18px;
  height: 18px;

  left: 12px;
  top: 50%;
  transform: translateY(-50%);
} */

/* .txtarea {
  width: 448px;
  height: 120px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .label-text .txtarea:focus {
  border-color: #2196f3;
}

.acception {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.modal-btn {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(24, 140, 232);

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 52px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.fill-in {
  display: inline-flex;
  flex-direction: column;
}

.chk-box {
  -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.chk-icon {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 9px;

  
  
}

.act-lbl {
  display: flex;
  align-items: center;
}
.chk-box:checked + .chk-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../Images/svg-icons/check1.svg);
  background-origin: border-box;
  background-size: contain;
  background-repeat: no-repeat;


 
}
.hyperlink {
  margin-left: 5px;
} */



/* features */
/* .features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features .list {
  display: flex;
} */

/* .list-features {
  width: 270px;
}
.list-features::before {
  content: '';
  display: block;
  margin-bottom: 30px;
  height: 120px;я
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
} */

/* .icon-antena::before {
  background-image: url(../Images/svg-icons/antena.svg);
  background-size: 70px 70px;
}
.icon-clock::before {
  background-image: url(../Images/svg-icons/clock.svg);
  background-size: 70px 70px;
}
.icon-diagram::before {
  background-image: url(../Images/svg-icons/diagram.svg);
  background-size: 70px 70px;
}
.icon-astronaut::before {
  background-image: url(../Images/svg-icons/astronaut.svg);
  background-size: 70px 70px;
} */

/* Миксин для картинок */
/* @icons: "antena", "clock", "diagram", "astronaut";

@mixin generateIcons($iconList) {
  @each $iconName in iconList {
    .icon-#{iconName} {
      background-image: url("../Images/#{$iconName}.svg");
    }
  }
}

@include generateIcons($icons); */





/* .features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features li:not(:first-child) {
  margin-left: 30px;
}
.features p {
  margin: 0px;
} */

/* <!-- What we do --> */
/* .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.in-section li:not(:first-child) {
  margin-left: 30px;
}

.in-section .li-item {
  position: relative;
}
.overlay-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);

  margin: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
} */

/* team */
/* .team {
  background-color: var(--bg-light-color);
}
.team h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team p {
  color: var(--main-p-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}
.team .li-item {
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team .li-item:not(:first-child) {
  margin-left: 30px;
}

.team .list {
  justify-content: center;
  display: flex;

  align-items: flex-start;
} */

/* team-social-pictures */
/* .team .social-list {
  margin: 0px 32px 30px 32px;
}

.team .button {
  display: flex;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .li-item :not(:last-child) {
  margin-right: 10px;
}

.team .button:hover,
.team .button:focus {
  background-color: #2196f3;
  fill: #ffffff;
} */

/* clients */

/* .clients-box {
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-box:hover,
.clients-box:focus {
  fill: #2196f3;
  border-color: #2196f3;
} */

/* .clients .li-item:not(:last-child) {
  margin-right: 30px;
}

.clients .clients-icon {
  display: flex;
  justify-content: center;
}

.clients .list {
  display: flex;
  justify-content: center;
} */

/* Second page */
/* Porfolio html */
/* 
.portfolio-filter {
  margin-bottom: 50px;
}
.portfolio-filter .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-filter .button {
  display: inline-block;
  min-width: 73px;
  color: #212121;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
}

.portfolio-filter .button:hover,
.portfolio-filter .button:focus {
  background-color: #2196f3;
  color: #ffffff;
} */

/* .portfolio-filter li:not(:first-child) {
  margin-left: 8px;
} */

/* project */
/* .project h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px 24px;
}

.project p {
  color: var(--main-p-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0px 24px 20px 24px;
}

.project .list {
  display: flex;
  flex-wrap: wrap;
} */
/* .project li {
  border: 1px solid rgb(238, 238, 238);
  width: calc((100% - 60px) / 3);
}

.project li:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

/* .projects-wrapping {
  border: 1px solid rgb(238, 238, 238);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project .link:hover .projects-wrapping {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-wrapping {
  position: relative;
  overflow: hidden;
} */

/* .overlay-box {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;

  width: auto;
  height: 294px;

  background-color: rgba(33, 150, 243, 0.9);
} */

/* .overlay-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  justify-content: center;
  align-items: center;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project .overlay {
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  margin: 24px;
}

.project .link:hover .overlay-box {
  transform: translateY(0); */

  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
/* } */
